@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'raleway-black';
    src: url('../fonts/raleway-black.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-medium';
    src: url('../fonts/raleway-medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'raleway-medium';
	outline:none !important;
	margin:0 auto;
	padding:0;
}
.heading{
	font-family:'raleway-black' !important;
	font-size:32px;
}
.section-padding{
	padding-bottom:80px;
	padding-top:80px;
}
h1{
    font-family:'raleway-black' !important;
	font-size:32px;
}
h2{
    font-family:'raleway-bold' !important;
	font-size:28px;
}
h3{
    font-family:'raleway-bold' !important;
	font-size:24px;
}
h4{
    font-family:'raleway-semibold' !important;
	font-size:20px;
	color:#222;
}
h5{
    font-family:'raleway-semibold' !important;
	font-size:18px;
}
h6{
    font-family:'raleway-semibold' !important;
	font-size:16px;
}
p{
    font-family:'raleway-semibold' !important;
	font-size:15px;
	margin:0 0 5px 0;
}

.bg-black{
	background-color:#444444;
}
.bg-gray{
	background-color:#F6FBFD;
}
.slider{
	background-color:#777DE5;
}
.card{
	box-shadow: 0 10px 20px rgba(153,153,153,.1);
}
::placeholder{
    font-size:14px;
}


@media (max-width: 576px) { 
h1, h2{
    font-size:22px;
}
h3, h4{
    font-size:18px;
}
 h5, h6{
    font-size:14px;
}
.section-padding{
	padding-bottom:30px;
	padding-top:30px;
}
}

@media (max-width: 768px) { 
h1, h2{
    font-size:22px;
}
h3, h4{
    font-size:18px;
}
h5, h6{
    font-size:14px;
}
.section-padding{
	padding-bottom:30px;
	padding-top:30px;
}
}